:host {
  --host-icon-size: var(--icon-size, .7em);
  --host-icon-color: var(--icon-color, currentColor);
  --host-icon-outline-size: var(--icon-outline-size, .0075em);
  --host-icon-outline-color: var(--host-icon-color, currentColor);

  display: inline-flex;
  position: relative;
  height: 1em;
  width: 1em;
  align-items: center;
  justify-content: center;
}

svg {
  flex: 1 1 auto;
  overflow: visible;
  height: var(--host-icon-size);
  width: var(--host-icon-size);
  fill: var(--host-icon-color);
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke: var(--host-icon-outline-color);
  stroke-width: var(--host-icon-outline-size);
}
