:root {
  --unit: 12px;
  --padding: calc(var(--unit) / 2);
  --margin: 1px;
  --border-width: var(--margin);
  --border: solid var(--border-width) var(--color);
  --border-radius: 2px;

  --color: #444;
  --background-color: #ddd;
  --input-color: #333;
  --input-background-color: var(--highlight);
  --input-background-color-focus: var(--highlight-more);
  --action-color: #ccc;
  --action-color-alt: #222;
  --primary-color: #369;
  --primary-color-alt: #eee;
  --success-color: #494;
  --success-color-alt: #eee;
  --warning-color: #c82;
  --warning-color-alt: #eee;
  --error-color: #c22;
  --error-color-alt: #eee;

  --lowlight: rgba(0, 0, 0, .05);
  --lowlight-more: rgba(0, 0, 0, .1);
  --highlight: rgba(255, 255, 255, .25);
  --highlight-more: rgba(255, 255, 255, .5);

  --icon-size: .5em;
  --icon-spacing: .1em;
  --icon-color: currentColor;
  --icon-outline-size: .0075em;
  --icon-outline-color: var(--icon-color, currentColor);
}

