:root {
  --unit: 12px;
  --padding: calc(var(--unit) / 2);
  --margin: 1px;
  --border-width: var(--margin);
  --border: solid var(--border-width) var(--color);
  --border-radius: 2px;

  --color: #444;
  --background-color: #f3f3f3;
  --input-color: #333;
  --input-background-color: #fff;
  --action-color: #ccc;
  --action-color-alt: #222;
  --primary-color: #369;
  --primary-color-alt: #eee;
  --success-color: #494;
  --success-color-alt: #eee;
  --warning-color: #c82;
  --warning-color-alt: #eee;
  --error-color: #c22;
  --error-color-alt: #eee;
}

body {
  color: var(--color);
  background-color: var(--background-color);
}
