@import '../assets/styles/host.css';

:host {
  display: flex;
  flex-direction: columN;
}

:host(:not([configure])) label,
:host(:not([configure])) .control.ip,
:host(:not([configure])) .control.port {
  display: none;
}

:host(:not([configure])) input {
  background-color: transparent;
}

header {
  display: flex;
  flex: 1 0 auto;
}

input {
  width: auto;
  flex: 1 1 auto;
}

.settings {
  flex: 1 1 auto;
  display: flex;
  flex-wrap: wrap;
}

.control {
  display: flex;
  flex-direction: column;
  justify-items: stretch;
  position: relative;
}

.control small {
  position: absolute;
  top: var(--host-padding);
  right: var(--host-padding);
}

.control small::before {
  content: '(';
}

.control small::after {
  content: ')';
}

.control.ip {
  flex: 1 0 auto;
  width: 4em;
}

.control.port {
  flex: 0 0 auto;
  width: 3em;
}

.control.port input {
  text-align: center;
}

.control.name {
  flex: 1 1 auto;
  width: 100%;
}

.actions {
  margin-left: auto;
  display: flex;
}

.toggle-state {
  position: relative;
  align-self: flex-start;
  width: 4.5em;
  padding-left: calc(var(--host-padding) + var(--host-unit));
}

.toggle-state::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: var(--host-unit);
  bottom: 0;
  background-color: var(--host-lowlight);
  border-radius: var(--host-border-radius);
}

:host(.started) .toggle-state::before {
  background-color: var(--host-success-color);
}

:host(.receiving) .toggle-state::before {
  background-color: var(--host-success-color);
  filter: brightness(1.25);
}

:host(.errored) .toggle-state::before {
  background-color: var(--host-warning-color);
}

:host(.stopped) .toggle-state::before {
  background-color: var(--host-error-color);
}

.messages {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.messages-toolbar {
  flex: 0 0 auto;
}

.messages-list {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  margin: var(--host-padding) 0;
  padding: 0;
}

.message {
  flex: 1 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding: var(--host-padding);
}

.message:nth-child(odd) {
  background-color: rgba(0, 0, 0, .05);
}

.message-from {
  flex: 1 1 auto;
  font-size: .9em;
}

.message-date {
  flex: 0 0 auto;
  font-size: .8em;
  margin-left: auto;
}

.message-subject {
  width: 100%;
  font-size: 1.1em;
}
