@import '../assets/styles/host.css';

:host {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}

:host::before {
  z-index: -1;
  content: '';
  position: fixed;
  bottom: var(--host-padding);
  left: var(--host-padding);
  width: 3em;
  height: 3em;
  background-image: url(/assets/icon.svg);
  background-position: left bottom;
  background-repeat: no-repeat;
}

.intro {
  padding: var(--host-padding);
  align-items: center;
  margin: auto;
  max-width: 15em;
  color: var(--primary-color);
}

.hosts {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.hosts ul {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
  margin: 0;
  padding: 0
}

.host {
  flex: 0 0 auto;
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
  padding: var(--host-padding);
  border-bottom: solid 1px var(--host-lowlight);
}

.host-open {
  flex: 1 1 auto;
  background: linear-gradient(to bottom, var(--host-highlight), var(--host-highlight-more));
  border-bottom: solid 1px var(--host-lowlight-more);
}

.host-actions {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
}

smtp-host {
  flex: 1 1 auto;
}

main {
  flex: 1 1 auto;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.hosts-actions {
  align-self: flex-end;
  padding: var(--host-padding);
}

pre {
  font-size: .75em;
  color: rgba(0, 0, 0, .75);
  white-space: pre-wrap;
  word-break: break-all;
}

impostor-hub {
  height: 1.25em;
}

.buttons app-popup {
  margin-right: auto;
}
