@import '../assets/styles/host.css';

:host {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: var(--host-padding);
  display: flex;
  flex-direction: column;
}

:host::after {
  content: '';
  position: fixed;
  top: var(--host-padding);
  right: var(--host-padding);
  bottom: var(--host-padding);
  left: var(--host-padding);
  background-image: url(/assets/icon-48x48.png);
  background-position: left bottom;
  background-repeat: no-repeat;
}

.hosts {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

.hosts ul {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0
}

.hosts .host:nth-child(even) {
  background-color: rgba(0, 0, 0, .025);
}

.host {
  display: flex;
  align-items: flex-start;
}

.add-host {
  align-self: flex-end;
}

smtp-host {
  flex: 1 1 auto;
}

main {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

pre {
  font-size: .75em;
  color: rgba(0, 0, 0, .75);
  white-space: pre-wrap;
  word-break: break-all;
  padding-bottom: 2em;
}

impostor-hub {
  align-self: flex-end;
}
