@import '../assets/styles/host.css';

:host {
  --host-worker-status-size: var(--worker-status-size, .75em);

  display: inline-flex;
}

.status {
  position: relative;
  display: flex;

}

.status button {
  position: relative;

  width: 3em;
  height: 2em;
}

.status button .toggle {
  transform: translateX(-50%);
  transition: .1s ease;
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: var(--host-background-color);
}

.status.status-1 button .toggle {
  transform: translateX(+25%);
  background-color: var(--host-warning-color);
}

.status.status-2 button .toggle {
  transform: translateX(+50%);
  background-color: var(--host-success-color);
}
