@import '../assets/styles/host.css';

:host {
  display: flex;
  flex-wrap: wrap;
}

.control {
  display: flex;
  flex-direction: column;
  justify-items: stretch;
  position: relative;
}

.control.ip {
  flex: 1 0 auto;
  width: 4em;
}

.control.port {
  flex: 0 0 auto;
  width: 3em;
}

.control.port input {
  text-align: center;
}

.control.name {
  flex: 1 1 auto;
  width: 100%;
}
